$breakPoint: 900px;
$contentMaxWidth: 860px;
$cNav: #FF2A2A;
$cBtn: #FF0033;
$cWhite: white;
$cBlack: #333333;
$cBtnShadow: #7A051C;
$cVoiceBg: #E9F1FB;
$cIconBg:#CCCCCC;

.font-28b {
    font-size: 28px;
    font-weight: 600;
}

.font-24r{
    font-size: 24px;
    font-weight: 500;
}

.font-46b{
    font-size: 46px;
    font-weight: 600;
}