.font-28b {
  font-size: 28px;
  font-weight: 600;
}

.font-24r, header .pr a p {
  font-size: 24px;
  font-weight: 500;
}

.font-46b {
  font-size: 46px;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #333333;
  position: relative;
}
@media screen and (min-width: 900px) {
  h2 {
    font-size: 36px;
    letter-spacing: 3.6px;
  }
}
h2::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #333333;
}

section {
  margin-bottom: 83px;
}

header {
  position: relative;
}
header .head-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  height: 100px;
}
header .head-nav h1 {
  margin-top: 25px;
  width: 100px;
}
header .head-nav .hamburger-menu {
  display: block;
  position: fixed;
  right: 0;
  background-color: #FF2A2A;
  width: 75px;
  height: 75px;
  z-index: 10;
}
@media screen and (min-width: 900px) {
  header .head-nav .hamburger-menu {
    width: 100px;
    height: 100px;
  }
}
header .head-nav .hamburger-menu .menu-btn {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 35px;
  height: 24px;
}
@media screen and (min-width: 900px) {
  header .head-nav .hamburger-menu .menu-btn {
    top: 35px;
    left: 25px;
    width: 50px;
    height: 30px;
  }
}
header .head-nav .hamburger-menu .menu-btn span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: white;
}
header .head-nav .hamburger-menu .menu-btn span:nth-child(1) {
  transform: translateY(0px);
}
header .head-nav .hamburger-menu .menu-btn span:nth-child(2) {
  transform: translateY(9px);
}
header .head-nav .hamburger-menu .menu-btn span:nth-child(3) {
  transform: translateY(18px);
}
@media screen and (min-width: 900px) {
  header .head-nav .hamburger-menu .menu-btn span {
    width: 50px;
  }
  header .head-nav .hamburger-menu .menu-btn span:nth-child(1) {
    transform: translateY(0px);
  }
  header .head-nav .hamburger-menu .menu-btn span:nth-child(2) {
    transform: translateY(12px);
  }
  header .head-nav .hamburger-menu .menu-btn span:nth-child(3) {
    transform: translateY(24px);
  }
}
header .main-visual .img-auto {
  list-style: none;
  padding-left: 0;
  width: 100%;
  height: 300px;
  position: relative;
}
@media screen and (min-width: 900px) {
  header .main-visual .img-auto {
    width: 74%;
    margin-left: auto;
    height: 720px;
  }
}
header .main-visual .img-auto .image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  animation-name: image-switch;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
header .main-visual .img-auto .image.image1 {
  background-image: url("../images/mainvisual1.jpg");
  animation-delay: -1s;
}
header .main-visual .img-auto .image.image2 {
  background-image: url("../images/mainvisual2.jpg");
  animation-delay: -6s;
}
header .main-visual .img-auto .image.image3 {
  background-image: url("../images/mainvisual3.jpg");
  animation-delay: -11s;
}
header .pr {
  margin: 13px 16px;
}
@media screen and (min-width: 900px) {
  header .pr {
    position: absolute;
    top: 385px;
    left: 13%;
    width: 462px;
  }
}
header .pr .catchphrase {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2.8px;
  color: #333333;
}
@media screen and (min-width: 900px) {
  header .pr .catchphrase {
    font-size: 46px;
    line-height: 73.6px;
    text-shadow: 0 4px 6px white;
  }
}
header .pr a {
  display: block;
  position: relative;
  background-color: #FF0033;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 6px 0 0 #7A051C;
  margin-top: 12px;
  transition: transform 0.3s;
}
@media screen and (min-width: 900px) {
  header .pr a {
    margin-top: 33px;
  }
}
header .pr a:hover {
  transform: scale(1.05);
}
header .pr a::after {
  content: "";
  position: absolute;
  top: 20.5px;
  right: 30px;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  transform-origin: center;
  border-top: 3px solid white;
  border-right: 3px solid white;
}
header .pr a p {
  padding: 18.5px 0 18.5px 0;
  line-height: 24px;
  letter-spacing: 2.4px;
  color: white;
}

main {
  margin-top: 89px;
  margin-bottom: 80px;
}
@media screen and (min-width: 900px) {
  main {
    margin-top: 124px;
    margin-bottom: 119px;
  }
}
main .reason h2 {
  margin-bottom: 62px;
}
@media screen and (min-width: 900px) {
  main .reason h2 {
    margin-bottom: 103px;
  }
}
main .reason .container {
  margin-top: 62px;
  background-color: #FF2A2A;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 358px;
}
@media screen and (min-width: 900px) {
  main .reason .container {
    height: 600px;
    justify-content: center;
  }
}
main .reason .container .slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 359px;
  height: 119px;
  background-color: white;
  padding: 0 20px;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  opacity: 0;
}
@media screen and (min-width: 900px) {
  main .reason .container .slide-item {
    width: 700px;
    height: 200px;
  }
}
main .reason .container .slide-item img {
  margin-right: 30px;
}
main .reason .container .slide-item .title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  color: #FF2A2A;
}
main .reason .container .slide-item .content {
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #333333;
}
main .reason .container .slide-item.item1 {
  margin-right: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateX(-100%);
}
@media screen and (min-width: 900px) {
  main .reason .container .slide-item.item1 {
    margin-bottom: 40px;
  }
}
main .reason .container .slide-item.item1.inview {
  transform: translateX(0);
  opacity: 1;
}
main .reason .container .slide-item.item1 img {
  width: 87px;
  height: 60px;
}
main .reason .container .slide-item.item1 .body {
  width: 202px;
}
main .reason .container .slide-item.item2 {
  margin-left: auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translateX(100%);
}
main .reason .container .slide-item.item2.inview {
  transform: translateX(0);
  opacity: 1;
}
main .reason .container .slide-item.item2 img {
  width: 51px;
  height: 60px;
}
main .reason .container .slide-item.item2 .body {
  width: 238px;
}
main .voice {
  overflow: hidden;
}
main .voice h2 {
  margin-bottom: 65px;
}
@media screen and (min-width: 900px) {
  main .voice h2 {
    margin-bottom: 107px;
  }
}
main .voice .container .fade-in-item {
  margin-bottom: 43px;
  transform: scale(0);
  transition: transform 0.8s ease-out;
}
main .voice .container .fade-in-item.inview {
  transform: scale(1);
}
@media screen and (min-width: 900px) {
  main .voice .container .fade-in-item {
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 63px;
    display: flex;
    justify-content: flex-end;
  }
}
main .voice .container .fade-in-item .wrap {
  margin: 0 16px 31px 16px;
  background-color: #E9F1FB;
  border-radius: 15px;
  position: relative;
}
main .voice .container .fade-in-item .wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 21px;
  height: 21px;
  background-color: #E9F1FB;
}
@media screen and (min-width: 900px) {
  main .voice .container .fade-in-item .wrap {
    width: 514px;
  }
}
main .voice .container .fade-in-item .wrap p {
  padding: 22px 26px 23px 22px;
  font-size: 16px;
  letter-spacing: 1.6px;
}
@media screen and (min-width: 900px) {
  main .voice .container .fade-in-item.left {
    flex-direction: row-reverse;
    justify-content: flex-first;
  }
}
main .voice .container .fade-in-item.left .wrap::after {
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}
@media screen and (min-width: 900px) {
  main .voice .container .fade-in-item.left .wrap {
    margin-left: 26px;
  }
  main .voice .container .fade-in-item.left .wrap::after {
    left: 0;
    bottom: 32px;
    transform: translate(-50%, 0) rotate(45deg);
  }
}
main .voice .container .fade-in-item.right .wrap::after {
  right: 50%;
  transform: translate(50%, 50%) rotate(45deg);
}
@media screen and (min-width: 900px) {
  main .voice .container .fade-in-item.right .wrap {
    margin-right: 26px;
  }
  main .voice .container .fade-in-item.right .wrap::after {
    right: 0;
    bottom: 32px;
    transform: translate(50%, 0) rotate(45deg);
  }
}
main .voice .container .fade-in-item .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .voice .container .fade-in-item .icon img {
  background-color: #CCCCCC;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 9px;
}
main .voice .container .fade-in-item .icon p {
  font-size: 12px;
  letter-spacing: 1.2px;
}
main .voice .container .fade-in-item .icon p.name {
  padding-right: 32px;
}
main .summary {
  background-color: #E8E8E8;
  background-image: url("../images/bg.gif");
  background-repeat: repeat;
  animation-name: bg-slide;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
main .summary h2 {
  padding-top: 63px;
  margin-bottom: 65px;
}
@media screen and (min-width: 900px) {
  main .summary h2 {
    margin-bottom: 107px;
  }
}
main .summary .container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
@media screen and (min-width: 900px) {
  main .summary .container {
    max-width: 860px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
main .summary .container .item {
  margin-bottom: 32px;
  padding: 33px;
  background-color: white;
  border-radius: 20px;
}
main .summary .container .item:last-child {
  margin-bottom: 60px;
}
@media screen and (min-width: 900px) {
  main .summary .container .item {
    width: 46.5%;
    padding: 63px;
  }
  main .summary .container .item:nth-child(3) {
    margin-bottom: 60px;
  }
}
main .summary .container .item h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-bottom: 23px;
}
main .summary .container .item .sub-title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  margin-bottom: 33px;
}
main .summary .container .item .body {
  font-size: 16px;
  letter-spacing: 1.6px;
}
main .app {
  text-align: center;
}
@media screen and (min-width: 900px) {
  main .app {
    max-width: 860px;
    margin: 0 auto;
  }
}
main .app .catchphrase {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  padding: 0 13px 0 14px;
  margin-bottom: 11px;
}
@media screen and (min-width: 900px) {
  main .app .catchphrase {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
}
main .app .present {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  padding: 0 20px 0 21px;
  margin-bottom: 61px;
}
@media screen and (min-width: 900px) {
  main .app .present {
    font-size: 18px;
    letter-spacing: 1.8px;
  }
}
main .app .btn {
  display: block;
  border-radius: 40px;
  text-decoration: none;
  margin: 0 16px;
  background-color: #FF2A2A;
  border: 3px solid #FF0033;
  transition: all 0.3s;
}
@media screen and (min-width: 900px) {
  main .app .btn {
    margin: 0;
  }
}
main .app .btn:hover {
  background-color: white;
  border: 3px solid #FF0033;
}
main .app .btn p {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 2.4px;
  color: white;
  padding: 18px 54px 19px 54px;
}
@media screen and (min-width: 900px) {
  main .app .btn p {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2.8px;
    padding: 19px 0 20px 0;
  }
}
main .app .btn p:hover {
  color: #FF0033;
}

footer {
  background-color: #E8E8E8;
}
footer .sitemap {
  display: flex;
  flex-wrap: wrap;
  padding: 62px 16px 65px 16px;
}
@media screen and (min-width: 900px) {
  footer .sitemap {
    max-width: 860px;
    margin: 0 auto;
  }
}
footer .sitemap .sec {
  width: 50%;
}
@media screen and (min-width: 900px) {
  footer .sitemap .sec {
    width: 25%;
  }
}
footer .sitemap .sec:nth-child(-n+2) {
  margin-bottom: 35px;
}
@media screen and (min-width: 900px) {
  footer .sitemap .sec:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
footer .sitemap .sec p {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
footer .sitemap .sec ul {
  list-style: none;
  padding-left: 10px;
}
footer .sitemap .sec ul a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #333333;
}
footer .copy {
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 21px;
}

@keyframes image-switch {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  38% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg-slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}/*# sourceMappingURL=style.css.map */