@use 'component' as *;

body{
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2.8px;
    color: $cBlack;
    position: relative;
    @media screen and (min-width:$breakPoint){
        font-size: 36px;
        letter-spacing: 3.6px;
    }

    &::after{
        content: '';
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 3px;
        background-color: $cBlack;

    }
}

section{
    margin-bottom: 83px;
}

header{
    position: relative;
    & .head-nav{
        display: flex;
        position: relative;
        justify-content: space-between;
        height: 100px;

        & h1{
            margin: 25px 0 0 25px;
            width: 100px;
            z-index: 50;

            & .red{
                display: block;
            }
            & .white{
                display: none;
            }
        }

        & .hamburger-menu{
            display: block;
            position: fixed;
            right: 0;
            background-color: $cNav;
            width: 75px;
            height: 75px;
            z-index: 20;

            @media screen and (min-width: $breakPoint){
                width: 100px;
                height: 100px;
            }

            & .menu-btn{
                position: absolute;
                top: 25px;
                left: 20px;
                width: 35px;
                height: 24px;

                @media screen and (min-width: $breakPoint){
                    top: 35px;
                    left: 25px;
                    width: 50px;
                    height: 30px;
                }

                & span{
                    display: block;
                    width: 35px;
                    height: 2px;
                    background-color: white;

                    &:nth-child(1){
                        transform: translateY(0px);
                    }
                    &:nth-child(2){
                        transform: translateY(9px);
                    }
                    &:nth-child(3){
                        transform: translateY(18px);
                    }

                    @media screen and (min-width: $breakPoint){
                        width: 50px;
                        &:nth-child(1){
                            transform: translateY(0px);
                        }
                        &:nth-child(2){
                            transform: translateY(12px);
                        }
                        &:nth-child(3){
                            transform: translateY(24px);
                        }
                    }
                }
            }
        }
        & .nav-detail{
            display: none;
        }
        &.open{
            & h1{
                position: fixed; 
                & .red{
                    display: none;
                }
                & .white{
                    display: block;
                }
            }
            & span{
                &:nth-child(1){
                    transform: translateY(15px) rotate(-45deg)  !important;
                }
                &:nth-child(2){
                    transform: translateY(13px) rotate(45deg) !important;
                }
                &:nth-child(3){
                    transform: translateY(11px) rotate(45deg) !important;
                }

                @media screen and (min-width: $breakPoint){
                    width: 50px;
                    &:nth-child(1){
                        transform: translateY(0px);
                    }
                    &:nth-child(2){
                        transform: translateY(12px);
                    }
                    &:nth-child(3){
                        transform: translateY(24px);
                    }
                }
                
            }
            & .nav-detail{
                display: block;
                background-color: $cNav;
                width: 100%;
                height: 100%;
                position: fixed;
                z-index: 10;

                & ul{
                    padding-left: 0;
                    list-style: none;
                    margin: 112px auto 0 auto;
                    text-align: center;

                    @media screen and (min-width: $breakPoint){
                        margin-top: 80px;
                    }

                    & li{
                        margin-bottom: 23px;
                        & a{
                            color: $cWhite;
                            text-decoration: none;
                            font-size: 16px;
                            letter-spacing: 1.6px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }


    & .main-visual{
        & .img-auto{
            list-style: none;
            padding-left: 0;
            width: 100%;
            height: 300px;
            position: relative;

            @media screen and (min-width: $breakPoint){
                width: 74%;
                margin-left: auto;
                height: 720px;
            }
            

            & .image{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-size: cover;
                background-position: center;
                animation-name: image-switch;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;

                &.image1{
                    background-image: url('../images/mainvisual1.jpg');
                    animation-delay: -1s;
                }
                &.image2{
                    background-image: url('../images/mainvisual2.jpg');
                    animation-delay: -6s;
                }
                &.image3{
                    background-image: url('../images/mainvisual3.jpg');
                    animation-delay: -11s;
                }
            }
        }
    }

    & .pr{
        margin: 13px 16px;
        @media screen and (min-width: $breakPoint){
            position: absolute;
            top: 385px;
            left: 13%;
            width: 462px;
        }

        & .catchphrase{
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 2.8px;
            color: $cBlack;
            @media screen and (min-width: $breakPoint){
                font-size: 46px;
                line-height: 73.6px;
                text-shadow: 0 4px 6px $cWhite;
            }
        }

        & a{
            display: block;
            position: relative;
            background-color: $cBtn;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 6px 0 0 $cBtnShadow;
            margin-top: 12px;
            transition: transform 0.3s;
            @media screen and (min-width: $breakPoint){
                margin-top: 33px;
            }

            &:hover{
                transform: scale(1.05);
            }

            &::after{
                content: '';
                position: absolute;
                top: 20.5px;
                right: 30px;
                width: 18px;
                height: 18px;
                transform: rotate(45deg);
                transform-origin: center;
                border-top: 3px solid $cWhite;
                border-right: 3px solid $cWhite;
            }

            & p{
                padding: 18.5px 0 18.5px 0;
                @extend .font-24r;
                line-height: 24px;
                letter-spacing: 2.4px;
                color: $cWhite;
            }
        }
    }
}

main{
    margin-top: 89px;
    margin-bottom: 80px;
    @media screen and (min-width:$breakPoint){
        margin-top: 124px;
        margin-bottom: 119px;
    }
    & #reason{
        h2{
            margin-bottom: 62px;
            @media screen and (min-width:$breakPoint){
                margin-bottom: 103px;
            }
        }

        & .container{
            margin-top: 62px;
            background-color: $cNav;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 358px;
            @media screen and (min-width:$breakPoint){
                height: 600px;
                justify-content: center;
            }

            & .slide-item{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 359px;
                height: 119px;
                background-color: $cWhite;
                padding: 0 20px;
                transition: transform 0.8s ease-out, opacity 0.8s ease-out;
                opacity: 0;
                @media screen and (min-width:$breakPoint){
                    width: 50%;
                    height: 200px;
                }

                & img{
                    margin-right: 30px;
                }

                & .body{
                    width: auto;
                }

                & .title{
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 2.4px;
                    color: $cNav;
                    @media screen and (min-width:$breakPoint){
                        font-size: 28px;
                        letter-spacing: 2.8px;
                    }
                }

                & .content{
                    font-size: 18px;
                    letter-spacing: 1.8px;
                    color: $cBlack;
                }

                &.item1{
                    margin-right: auto;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    transform: translateX(-100%);
                    @media screen and (min-width:$breakPoint){
                        margin-bottom: 40px;
                    }
                    &.inview{
                        transform: translateX(0);
                        opacity: 1;
                    }

                    & img{
                        width: 87px;
                        height: 60px;
                    }


                }

                &.item2{
                    margin-left: auto;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    transform: translateX(100%);
                    &.inview{
                        transform: translateX(0);
                        opacity: 1;
                    }

                    & img{
                        width: 51px;
                        height: 60px;
                    }

                }
            }


        }
    }

    & #voice{
        overflow: hidden;
        h2{
            margin-bottom: 65px;
            @media screen and (min-width:$breakPoint){
                margin-bottom: 107px;
            }
        }
        & .container{
            & .fade-in-item{
                margin-bottom: 43px;
                transform: scale(0);
                transition: transform 0.8s ease-out;

                &.inview{
                    transform: scale(1);
                }
                
                @media screen and (min-width:$breakPoint){
                    max-width: $contentMaxWidth;
                    margin: 0 auto;
                    margin-bottom: 63px;
                    display: flex;
                    justify-content: flex-end;
                }

                & .wrap{
                    margin: 0 16px 31px 16px;
                    background-color: $cVoiceBg;
                    border-radius: 15px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        width: 21px;
                        height: 21px;
                        background-color: $cVoiceBg;
                    }
                    @media screen and (min-width:$breakPoint){
                        width: 514px;
                    }

                    & p {
                        padding: 22px 26px 23px 22px;
                        font-size: 16px;
                        letter-spacing: 1.6px;
                    }
                }
                &.left{
                    @media screen and (min-width:$breakPoint){
                        flex-direction: row-reverse;
                        justify-content: flex-first;
                    }
                    & .wrap{
                        &::after{
                            left: 50%;
                            transform: translate(-50%, 50%) rotate(45deg);
                        }
                        @media screen and (min-width:$breakPoint){
                            margin-left: 26px;
                            &::after{
                                left: 0;
                                bottom: 32px;
                                transform: translate(-50%, 0) rotate(45deg);
                            }
                        }
                    }
                }
                &.right{
                    & .wrap{
                        &::after{
                            right: 50%;
                            transform: translate(50%, 50%) rotate(45deg);
                        }
                        @media screen and (min-width:$breakPoint){
                            margin-right: 26px;
                            &::after{
                                right: 0;
                                bottom: 32px;
                                transform: translate(50%, 0) rotate(45deg);
                            }
                        }
                        
                    }

                }


                & .icon{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    & img{
                        background-color: $cIconBg;
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        margin-bottom: 9px;
                    }

                    & p{
                        font-size: 12px;
                        letter-spacing: 1.2px;
                        &.name{
                            padding-right: 32px;
                        }
                    }
                }
            }

        }
    }

    & #summary{
        background-color: #E8E8E8;
        background-image: url('../images/bg.gif');
        background-repeat: repeat;
        animation-name: bg-slide;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        & h2{
            padding-top: 63px;
            margin-bottom: 65px;
            @media screen and (min-width:$breakPoint){
                margin-bottom: 107px;
            }
        }

        & .container{
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            @media screen and (min-width:$breakPoint){
                max-width: $contentMaxWidth;
                margin: 0 auto;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            

            & .item{
                margin-bottom: 32px;
                padding: 33px;
                background-color: $cWhite;
                border-radius: 20px;

                &:last-child{
                    margin-bottom: 60px;
                }

                @media screen and (min-width:$breakPoint){
                    width: 46.5%;
                    padding: 63px;

                    &:nth-child(3){
                        margin-bottom: 60px;
                    }
                }

                & h3{
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 2.4px;
                    margin-bottom: 23px;
                }

                & .sub-title{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1.6px;
                    margin-bottom: 33px;
                }

                & .body{
                    font-size: 16px;
                    letter-spacing: 1.6px;
                }
            }
        }
    }

    & .app{
        text-align: center;
        @media screen and (min-width:$breakPoint){
            max-width: $contentMaxWidth;
            margin: 0 auto;
        }

        & .catchphrase{
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2.4px;
            padding: 0 13px 0 14px;
            margin-bottom: 11px;
            @media screen and (min-width:$breakPoint){
                font-size: 32px;
                letter-spacing: 3.2px;
            }
        }

        & .present{
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 1.6px;
            padding: 0 20px 0 21px;
            margin-bottom: 61px;
            @media screen and (min-width:$breakPoint){
                font-size: 18px;
                letter-spacing: 1.8px;
            }
        }

        & .btn{
            display: block;
            border-radius: 40px;
            text-decoration: none;
            margin: 0 16px;
            background-color: $cNav;
            border: 3px solid $cBtn;
            transition: all 0.3s;
            @media screen and (min-width:$breakPoint){
                margin: 0;
            }

            &:hover{
                background-color: $cWhite;
                border: 3px solid $cBtn;
            }

            & p{
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 2.4px;
                color: $cWhite;
                padding: 18px 54px 19px 54px;
                @media screen and (min-width:$breakPoint){
                    font-size: 28px;
                    line-height: 28px;
                    letter-spacing: 2.8px;
                    padding: 19px 0 20px 0;
                }
                &:hover{
                    color: $cBtn;
                }
            }
        }
    }
}

footer{
    background-color: $cBg;
    & .sitemap{
        display: flex;
        flex-wrap: wrap;
        padding: 62px 16px 65px 16px;

        @media screen and (min-width:$breakPoint){
            max-width: $contentMaxWidth;
            margin: 0 auto;
        }


        & .sec{
            width: 50%;
            @media screen and (min-width:$breakPoint){
                width: 25%;
            }

            &:nth-child(-n+2){
                margin-bottom: 35px;
                @media screen and (min-width:$breakPoint){
                    margin-bottom: 0;
                }
            }

            & p{
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 1.5px;
            }

            & ul{
                list-style: none;
                padding-left: 10px;

                & a{
                    text-decoration: none;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                    color: $cBlack;
                }
            }

        }
    }

    & .copy{
        font-size: 10px;
        letter-spacing: 1px;
        text-align: center;
        padding-bottom: 21px;
    }
}

@keyframes image-switch{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    33%{
        opacity: 1;
    }
    38%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes bg-slide{
    0%{
        background-position:0 0;
    }
    100%{
        background-position: -700px 700px;
    }
}
