@use 'component' as *;

header{
    position: relative;
    & .head-nav{
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        height: 100px;

        & h1{
            margin-top: 25px;
            width: 100px;
        }

        & .hamburger-menu{
            display: block;
            position: relative;
            background-color: $cNav;
            width: 75px;
            height: 75px;
            z-index: 10;
            @media screen and (min-width: $breakPoint){
                width: 100px;
                height: 100px;
            }

            & .menu-btn{
                position: absolute;
                top: 25px;
                left: 20px;
                width: 35px;
                height: 24px;

                @media screen and (min-width: $breakPoint){
                    top: 35px;
                    left: 25px;
                    width: 50px;
                    height: 30px;
                }

                & span{
                    display: block;
                    width: 35px;
                    height: 2px;
                    background-color: white;

                    &:nth-child(1){
                        transform: translateY(0px);
                    }
                    &:nth-child(2){
                        transform: translateY(9px);
                    }
                    &:nth-child(3){
                        transform: translateY(18px);
                    }

                    @media screen and (min-width: $breakPoint){
                        width: 50px;
                        &:nth-child(1){
                            transform: translateY(0px);
                        }
                        &:nth-child(2){
                            transform: translateY(12px);
                        }
                        &:nth-child(3){
                            transform: translateY(24px);
                        }
                    }
                }
            }
        }
    }

    & .main-visual{
        & .img-auto{
            list-style: none;
            padding-left: 0;
            width: 100%;
            height: 300px;
            position: relative;

            @media screen and (min-width: $breakPoint){
                width: 74%;
                margin-left: auto;
                height: 720px;
            }
            

            & .image{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-size: cover;
                background-position: center;
                animation-name: image-switch;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                animation-timing-function: ease;

                &.image1{
                    background-image: url('../images/mainvisual1.jpg');
                    animation-delay: -1s;
                }
                &.image2{
                    background-image: url('../images/mainvisual2.jpg');
                    animation-delay: -6s;
                }
                &.image3{
                    background-image: url('../images/mainvisual3.jpg');
                    animation-delay: -11s;
                }
            }
        }
    }

    & .pr{
        margin: 13px 16px;
        @media screen and (min-width: $breakPoint){
            position: absolute;
            top: 385px;
            left: 13%;
            width: 462px;
        }

        & .catchphrase{
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 2.8px;
            color: $cBlack;
            @media screen and (min-width: $breakPoint){
                font-size: 46px;
                line-height: 73.6px;
                text-shadow: 0 4px 6px $cWhite;
            }
        }

        & a{
            display: block;
            position: relative;
            background-color: $cBtn;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 6px 0 0 $cBtnShadow;
            margin-top: 12px;
            @media screen and (min-width: $breakPoint){
                margin-top: 33px;
            }

            &::after{
                content: '';
                position: absolute;
                top: 20.5px;
                right: 30px;
                width: 18px;
                height: 18px;
                transform: rotate(45deg);
                transform-origin: center;
                border-top: 3px solid $cWhite;
                border-right: 3px solid $cWhite;
            }

            & p{
                padding: 18.5px 0 18.5px 0;
                @extend .font-24r;
                line-height: 24px;
                letter-spacing: 2.4px;
                color: $cWhite;
            }
        }
    }
}

main{
    margin-top: 89px;
    & .reason{
        h2{
            text-align: center;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: 2.8px;
            color: $cBlack;
            margin-bottom: 62px;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: -22px;
                left: 50%;
                transform: translateX(-50%);
                width: 80px;
                height: 3px;
                background-color: $cBlack;

            }
        }

        & .container{
            margin-top: 62px;
            background-color: $cNav;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 358px;

            & .item{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 359px;
                height: 119px;
                background-color: $cWhite;
                padding: 0 20px;

                & .title{
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 2.4px;
                    color: $cNav;
                }

                & .content{
                    font-size: 18px;
                    letter-spacing: 1.8px;
                    color: $cBlack;
                }

                &.item1{
                    margin-right: auto;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;

                    & img{
                        width: 87px;
                        height: 60px;
                    }

                    & .body{
                        width: 202px;
                    }
                }

                &.item2{
                    margin-left: auto;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;

                    & img{
                        width: 51px;
                        height: 60px;
                    }

                    & .body{
                        width: 238px;
                    }
                }
            }


        }
    }
}

@keyframes image-switch{
    0%{
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    33%{
        opacity: 1;
    }
    38%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
